@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="NurseRequest" asp-action="Create">เรียกบริการเวรเปล</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="NurseRequest" asp-action="Index">รายการคิวเวรเปล</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Poter" asp-action="Index">รายการรอจ่ายงาน</a>
            </li>
        </ul>
        <li class="nav-item dropdown" style="text-align:right;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <ul class="navbar-nav flex-grow-1" style="text-align:right;">
            <li class="nav-item" >
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register" style="text-align:right;">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" style="text-align:right;">Login</a>
            </li>
        </ul>
    }
</ul>