@model NurseRequestDto
@{
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-2">
        <h2 class="text-center mb-5">New Product</h2>


        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">QN</label>
                <div class=col-sm-8>
                    <input class="form-control" asp-for="QN">
                    <span asp-validation-for="QN" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ชื่อ-นามสกุล</label>
                <div class=col-sm-8>
                    <input class="form-control" asp-for="QNName">
                    <span asp-validation-for="QNName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ประเภทคนไข้</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="PatientType">
                        <option value="OPD">OPD</option>
                        <option value="IPD">IPD</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ประเภทความเร่งด่วน</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="UrentType">
                        <option value="ปกติ">ปกติ</option>
                        <option value="ด่วน">ด่วน</option>
                        <option value="ด่วนมาก">ด่วนมาก</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ประเภทรถเข็น</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="MaterialType">
                        <option value='รถนั่ง'>รถนั่ง</option>
                        <option value='รถนอน'>รถนอน</option>
                        <option value='เฉพาะคน(มีรถแล้ว)'>เฉพาะคน(มีรถแล้ว)</option>
                        <option value='รถนั่งปรับนอน'>รถนั่งปรับนอน</option>
                        <option value='รถนั่งปรับนอน + ออกซิเจน'>รถนั่งปรับนอน + ออกซิเจน</option>
                        <option value='รถนั่ง + เสาน้ำเกลือ'>รถนั่ง + เสาน้ำเกลือ</option>
                        <option value='รถนั่ง + ออกซิเจน'>รถนั่ง + ออกซิเจน</option>
                        <option value='รถนอน + ออกซิเจน'>รถนอน + ออกซิเจน</option>
                        <option value='รถนอนผู้ป่วยติดเชื้อ'>รถนอนผู้ป่วยติดเชื้อ</option>
                        <option value='รถนั่งผู้ป่วยติดเชื้อ'>รถนั่งผู้ป่วยติดเชื้อ</option>
                        <option value='รถนอนผู้ป่วยติดเชื้อ + ออกซิเจน'>รถนอนผู้ป่วยติดเชื้อ + ออกซิเจน</option>
                        <option value='รถนั่งผู้ป่วยติดเชื้อ + ออกซิเจน'>รถนั่งผู้ป่วยติดเชื้อ + ออกซิเจน</option>
                        <option value='รถนอนพร้อมเปลตัก'>รถนอนพร้อมเปลตัก</option>
                        <option value='รถนอนพร้อมบอร์ด'>รถนอนพร้อมบอร์ด</option>
                        <option value='รถ Ambulance'>รถ Ambulance</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">หมายเหตุ</label>
                <div class=col-sm-8>
                    <input class="form-control" asp-for="Remark">
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">จุดส่งที่ 1</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="StartPoint">
                        <option value="1 ห้องฉุกเฉิน">1 ห้องฉุกเฉิน</option>
                        <option value="2 ห้องเจาะเลือด">2 ห้องเจาะเลือด</option>
                        <option value="3 แผนกเอ็กซเรย์">3 แผนกเอ็กซเรย์</option>
                        <option value="4 ห้องตรวจคลื่นหัวใจ">4 ห้องตรวจคลื่นหัวใจ</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">จุดส่งที่ 2</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="EndPoint">
                        <option value="1 ห้องฉุกเฉิน">1 ห้องฉุกเฉิน</option>
                        <option value="2 ห้องเจาะเลือด">2 ห้องเจาะเลือด</option>
                        <option value="3 แผนกเอ็กซเรย์">3 แผนกเอ็กซเรย์</option>
                        <option value="4 ห้องตรวจคลื่นหัวใจ">4 ห้องตรวจคลื่นหัวใจ</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-asp-controller="NurseRequest" asp-action="Index" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>