@model NurseRequestDto
@{
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-2">
        <h2 class="text-center mb-5">บริการเวรเปล</h2>


        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">QN</label>
                <div class=col-sm-8>
                    <input class="form-control" asp-for="QN">
                    <span asp-validation-for="QN" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ชื่อ-นามสกุล</label>
                <div class=col-sm-8>
                    <input class="form-control" asp-for="QNName">
                    <span asp-validation-for="QNName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ประเภทคนไข้</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="PatientType">
                        <option value="OPD">OPD</option>
                        <option value="IPD">IPD</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ประเภทความเร่งด่วน</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="UrgentType">
                        <option value="ปกติ">ปกติ</option>
                        <option value="ด่วน">ด่วน</option>
                        <option value="ด่วนมาก">ด่วนมาก</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ประเภทรถเข็น</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="MaterialType">
                        <option value='รถนั่ง'>รถนั่ง</option>
                        <option value='รถนอน'>รถนอน</option>
                        <option value='เฉพาะคน(มีรถแล้ว)'>เฉพาะคน(มีรถแล้ว)</option>
                        <option value='รถนั่งปรับนอน'>รถนั่งปรับนอน</option>
                        <option value='รถนั่งปรับนอน + ออกซิเจน'>รถนั่งปรับนอน + ออกซิเจน</option>
                        <option value='รถนั่ง + เสาน้ำเกลือ'>รถนั่ง + เสาน้ำเกลือ</option>
                        <option value='รถนั่ง + ออกซิเจน'>รถนั่ง + ออกซิเจน</option>
                        <option value='รถนอน + ออกซิเจน'>รถนอน + ออกซิเจน</option>
                        <option value='รถนอนผู้ป่วยติดเชื้อ'>รถนอนผู้ป่วยติดเชื้อ</option>
                        <option value='รถนั่งผู้ป่วยติดเชื้อ'>รถนั่งผู้ป่วยติดเชื้อ</option>
                        <option value='รถนอนผู้ป่วยติดเชื้อ + ออกซิเจน'>รถนอนผู้ป่วยติดเชื้อ + ออกซิเจน</option>
                        <option value='รถนั่งผู้ป่วยติดเชื้อ + ออกซิเจน'>รถนั่งผู้ป่วยติดเชื้อ + ออกซิเจน</option>
                        <option value='รถนอนพร้อมเปลตัก'>รถนอนพร้อมเปลตัก</option>
                        <option value='รถนอนพร้อมบอร์ด'>รถนอนพร้อมบอร์ด</option>
                        <option value='รถ Ambulance'>รถ Ambulance</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">หมายเหตุ</label>
                <div class=col-sm-8>
                    <input class="form-control" asp-for="Remark">
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ต้นทาง</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="StartPoint">
                        <option value="1 ห้องฉุกเฉิน">1 ห้องฉุกเฉิน</option>
                        <option value="2 ห้องเจาะเลือด">2 ห้องเจาะเลือด</option>
                        <option value="3 แผนกเอ็กซเรย์">3 แผนกเอ็กซเรย์</option>
                        <option value="4 ห้องตรวจคลื่นหัวใจ">4 ห้องตรวจคลื่นหัวใจ</option>
                        <option value="5 OPD-MED">5 OPD-MED</option>
                        <option value="6 ศัลยกรรมกระดูก">6 ศัลยกรรมกระดูก</option>
                        <option value="7 ศัลยกรรม">7 ศัลยกรรม</option>
                        <option value="8 อายุรกรรมหญิง">8 อายุรกรรมหญิง</option>
                        <option value="9 อายุรกรรมชาย">9 อายุรกรรมชาย</option>
                        <option value="10 หอผู้ป่วยโรคหัวใจและหลอดเลือด">10 หอผู้ป่วยโรคหัวใจและหลอดเลือด</option>
                        <option value="11 ICU1">11 ICU1</option>
                        <option value="12 ICU2">12 ICU2</option>
                        <option value="13 ICU3">13 ICU3</option>
                        <option value="14 ICU4">14 ICU4</option>
                        <option value="15 ICU5 (Stroke)">15 ICU5 (Stroke)</option>
                        <option value="16 NICU">16 NICU</option>
                        <option value="17 ศัลกุมารเวชกรรม">17 กุมารเวชกรรม</option>
                        <option value="18 จิตเวช">18 จิตเวช</option>
                        <option value="19 ไตเทียม">19 ไตเทียม</option>
                        <option value="20 ประกันสังคมชั้น 8">20 ประกันสังคมชั้น 8</option>
                        <option value="21 พิเศษ10 (EENT)">21 พิเศษ10 (EENT)</option>
                        <option value="22 พิเศษ38ปี ชั้น4">22 พิเศษ38ปี ชั้น4</option>
                        <option value="23 พิเศษ38ปี ชั้น5">23 พิเศษ38ปี ชั้น5</option>
                        <option value="24 พิเศษตา หู คอ จมูก เด็ก ชั้น 10">24 พิเศษตา หู คอ จมูก เด็ก ชั้น 10</option>
                        <option value="25 พิเศษบุญชื่นและสงฆ์อาพาธ ชั้น 12">25 พิเศษบุญชื่นและสงฆ์อาพาธ ชั้น 12</option>
                        <option value="26 พิเศษแม่ ชั้น 7">26 พิเศษแม่ ชั้น 7</option>
                        <option value="27 พิเศษแม่ ชั้น 5">27 พิเศษแม่ ชั้น 5</option>
                        <option value="28 พิเศษแม่ ชั้น 6">28 พิเศษแม่ชั้น6</option>
                        <option value="29 พิเศษรวมใจ (intermediate ward)">29 พิเศษรวมใจ (intermediate ward)</option>
                        <option value="30 พิเศษศัลยกรรม ชั้น 11">30 พิเศษศัลยกรรม ชั้น 11</option>
                        <option value="31 พิเศษอายุรกรรม ชั้น 8">31 พิเศษอายุรกรรม ชั้น 8</option>
                        <option value="32 พิเศษอายุรกรรม ชั้น 9">32 พิเศษอายุรกรรม ชั้น 9</option>
                        <option value="33 รวมใจ(ประกันสังคมและENT)">33 รวมใจ(ประกันสังคมและENT)</option>
                        <option value="34 สูติกรรมหลังคลอด">34 สูติกรรมหลังคลอด</option>
                        <option value="35 ห้องแยกโรคกลุ่มกุมารเวชกรรม">35 ห้องแยกโรคกลุ่มกุมารเวชกรรม</option>
                        <option value="36 ห้องวิกฤตหัวใจ (CCU)">36 ห้องวิกฤตหัวใจ (CCU)</option>
                        <option value="37 ห้องสวนหัวใจ (CATH LAB)">37 ห้องสวนหัวใจ (CATH LAB)</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ปลายทาง</label>
                <div class=col-sm-8>
                    <select class="form-select" asp-for="EndPoint1">
                        <option value="1 ห้องฉุกเฉิน">1 ห้องฉุกเฉิน</option>
                        <option value="2 ห้องเจาะเลือด">2 ห้องเจาะเลือด</option>
                        <option value="3 แผนกเอ็กซเรย์">3 แผนกเอ็กซเรย์</option>
                        <option value="4 ห้องตรวจคลื่นหัวใจ">4 ห้องตรวจคลื่นหัวใจ</option>
                        <option value="5 OPD-MED">5 OPD-MED</option>
                        <option value="6 ศัลยกรรมกระดูก">6 ศัลยกรรมกระดูก</option>
                        <option value="7 ศัลยกรรม">7 ศัลยกรรม</option>
                        <option value="8 อายุรกรรมหญิง">8 อายุรกรรมหญิง</option>
                        <option value="9 อายุรกรรมชาย">9 อายุรกรรมชาย</option>
                        <option value="10 หอผู้ป่วยโรคหัวใจและหลอดเลือด">10 หอผู้ป่วยโรคหัวใจและหลอดเลือด</option>
                        <option value="11 ICU1">11 ICU1</option>
                        <option value="12 ICU2">12 ICU2</option>
                        <option value="13 ICU3">13 ICU3</option>
                        <option value="14 ICU4">14 ICU4</option>
                        <option value="15 ICU5 (Stroke)">15 ICU5 (Stroke)</option>
                        <option value="16 NICU">16 NICU</option>
                        <option value="17 ศัลกุมารเวชกรรม">17 กุมารเวชกรรม</option>
                        <option value="18 จิตเวช">18 จิตเวช</option>
                        <option value="19 ไตเทียม">19 ไตเทียม</option>
                        <option value="20 ประกันสังคมชั้น 8">20 ประกันสังคมชั้น 8</option>
                        <option value="21 พิเศษ10 (EENT)">21 พิเศษ10 (EENT)</option>
                        <option value="22 พิเศษ38ปี ชั้น4">22 พิเศษ38ปี ชั้น4</option>
                        <option value="23 พิเศษ38ปี ชั้น5">23 พิเศษ38ปี ชั้น5</option>
                        <option value="24 พิเศษตา หู คอ จมูก เด็ก ชั้น 10">24 พิเศษตา หู คอ จมูก เด็ก ชั้น 10</option>
                        <option value="25 พิเศษบุญชื่นและสงฆ์อาพาธ ชั้น 12">25 พิเศษบุญชื่นและสงฆ์อาพาธ ชั้น 12</option>
                        <option value="26 พิเศษแม่ ชั้น 7">26 พิเศษแม่ ชั้น 7</option>
                        <option value="27 พิเศษแม่ ชั้น 5">27 พิเศษแม่ ชั้น 5</option>
                        <option value="28 พิเศษแม่ ชั้น 6">28 พิเศษแม่ชั้น6</option>
                        <option value="29 พิเศษรวมใจ (intermediate ward)">29 พิเศษรวมใจ (intermediate ward)</option>
                        <option value="30 พิเศษศัลยกรรม ชั้น 11">30 พิเศษศัลยกรรม ชั้น 11</option>
                        <option value="31 พิเศษอายุรกรรม ชั้น 8">31 พิเศษอายุรกรรม ชั้น 8</option>
                        <option value="32 พิเศษอายุรกรรม ชั้น 9">32 พิเศษอายุรกรรม ชั้น 9</option>
                        <option value="33 รวมใจ(ประกันสังคมและENT)">33 รวมใจ(ประกันสังคมและENT)</option>
                        <option value="34 สูติกรรมหลังคลอด">34 สูติกรรมหลังคลอด</option>
                        <option value="35 ห้องแยกโรคกลุ่มกุมารเวชกรรม">35 ห้องแยกโรคกลุ่มกุมารเวชกรรม</option>
                        <option value="36 ห้องวิกฤตหัวใจ (CCU)">36 ห้องวิกฤตหัวใจ (CCU)</option>
                        <option value="37 ห้องสวนหัวใจ (CATH LAB)">37 ห้องสวนหัวใจ (CATH LAB)</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-asp-controller="NurseRequest" asp-action="Index" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>